*{
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: #4a4646;
    margin-top: 0px;
    
}

ul{
    display: flex;
    flex-direction: row;
    padding: 6px 10px;
    margin: 2px 6px;
}
li{
    padding: 6px 13px;
    margin: 2px 6px;
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    border-radius: 6px;
    font-size: 1.2rem;
    color: white;
    padding: 2px 4px;
    font-weight: bold;
}
a:hover{
    background-color: white;
    color: black;
    padding: 2px 4px;
}

/* Body */

body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 900px;
    z-index: -1;
    top: 0px;
    background: url('/static/equipment\ \(6\).jpg');
}

.container{
    margin: 12px auto;  
}

.heading{
    display: flex;
    flex-direction: column;
    margin: 12px auto;
    text-align: center;
}
h1{
    margin: 22px auto;
    font-weight: bolder;
    font-size: 4rem;
    text-shadow: 6px 6px 12px
}
p {
    margin: 10px auto;
    font-size: 2rem;
}

/* form */

.form{
    margin: 50px 0px;
    margin-bottom: 24px;
}
input,textarea{
    display: flex;
    margin: 12px auto;
    width: 30%;
    padding: 11px;
    border: 2px solid black;
    border-radius: 12px;
    font-weight: bold;
}

.btn{
    display: flex;
    margin: 2px auto;
    padding: 12px 12px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 12px;
}
.btn:hover{
    background-color: #4a4646;
    color: white;
    border: 2px solid black;
    border-radius: 12px;
}

